body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:800px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2328 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:800px;
}
#u2329 {
  position:absolute;
  left:2px;
  top:392px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2330 {
  position:absolute;
  left:0px;
  top:110px;
  width:160px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u2331 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  word-wrap:break-word;
}
#u2332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2332 {
  position:absolute;
  left:40px;
  top:10px;
  width:80px;
  height:80px;
}
#u2333 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2334 {
  position:absolute;
  left:0px;
  top:170px;
  width:160px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u2335 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  word-wrap:break-word;
}
#u2336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2336 {
  position:absolute;
  left:0px;
  top:230px;
  width:160px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u2337 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  word-wrap:break-word;
}
#u2338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2338 {
  position:absolute;
  left:0px;
  top:290px;
  width:160px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u2339 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  word-wrap:break-word;
}
#u2340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2340 {
  position:absolute;
  left:0px;
  top:350px;
  width:160px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u2341 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  word-wrap:break-word;
}
#u2342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2342 {
  position:absolute;
  left:0px;
  top:410px;
  width:160px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u2343 {
  position:absolute;
  left:2px;
  top:19px;
  width:156px;
  word-wrap:break-word;
}
#u2344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2344 {
  position:absolute;
  left:160px;
  top:0px;
  width:1040px;
  height:800px;
}
#u2345 {
  position:absolute;
  left:2px;
  top:392px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:110px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u2346 {
  position:absolute;
  left:0px;
  top:640px;
  width:160px;
  height:110px;
  font-size:18px;
  color:#FFFFFF;
}
#u2347 {
  position:absolute;
  left:2px;
  top:47px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2348 {
  position:absolute;
  left:0px;
  top:750px;
  width:160px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u2349 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u2350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2350 {
  position:absolute;
  left:0px;
  top:700px;
  width:160px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u2351 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u2352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u2352 {
  position:absolute;
  left:56px;
  top:660px;
  width:48px;
  height:48px;
}
#u2353 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354 {
  position:absolute;
  left:0px;
  top:110px;
  width:160px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2355 {
  position:absolute;
  left:0px;
  top:170px;
  width:160px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2356 {
  position:absolute;
  left:0px;
  top:230px;
  width:160px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2357 {
  position:absolute;
  left:0px;
  top:350px;
  width:160px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2358 {
  position:absolute;
  left:0px;
  top:290px;
  width:160px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
